# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\cdcarval\Dropbox (speleman lab)\Personal Lab\GitHub_HTSplotter\HTSplotter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
